@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos para los links */
.nav-link {
    color: black; /* Color por defecto */
    text-decoration: none;
    padding: 8px;
    transition: color 0.3s ease; /* Transición suave */
  }
  
  .nav-link:hover {
    color: #ff6347; /* Cambia el color al pasar el cursor */
  }
  
  .nav-link.active {
    color: #ff6347; /* Color activo para el link actual */
  }
  